@tailwind base;
@tailwind components;
@tailwind utilities;



.line{
    @apply relative after:absolute after:-bottom-[2.9375rem] after:left-0 after:w-full after:h-1 after:bg-Orange after:scale-0 after:duration-500 hover:after:scale-100
}
.mobilemenu.active{
    left: 0;
}
.cart{
    width: calc(100vw - 1rem);
}
@media (min-width: 640px) {
    .cart {
        width: 22.6875rem;
    }
}

.thumbnail:hover img{
    @apply opacity-50 
}
.thumbnail.active{
    @apply ring-2 ring-Orange
}
.thumbnail.active img{
    opacity: .5;
}

.fade-in{
    animation: fadein 500ms ease-in-out;
}
@keyframes fadein {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.fade-out{
    animation: fadeout 500ms ease-in-out;
}
@keyframes fadeout {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(0);
    }
}


/* - Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700 */
/* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */